body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.bajada {
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
}

.CTA {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.nice-words {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}