body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > * {
    box-sizing: border-box;
    margin: 0 auto;
}

body > header, section, footer {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.navigation {
    display: flex;
    height: 50px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
    flex-wrap: wrap;
}

.hero-text, .hero-image {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 20px 0px;
}

.logo, .header-links {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1em;
}

.bajada {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

.info {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 2em auto;
}

.feat {
    display: flex;
    flex-direction: column;
}

.feat img {
    width: 80px;
    margin: 0 auto;
}

.feat p {
    color: #1f2937;
    font-size: 14px;
    text-align: center;
    max-width: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 250px;
}

.nice-words {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.CTA {
    background-color: #3882f6;
    display: flex;
    padding: 20px 50px;
    margin: 70px 200px;
    align-items: center;
}

.cta-text {
    flex: 3 0 auto;
}

.cta-text p {
    margin: 8px 0px ;
}

.CTA button {
    color: #f9faf8;
    border-style: solid;
    border-color: #f9faf8;
    flex: 0 0 auto;
}

footer {
    color: #f9faf8;
    font-size: 14px;
    background-color: #1f2937;
    padding: 40px 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color:#f9faf8;
}

.main {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.descriptive {
    color: #f9faf8;
    font-size: 14px;
}